NUXT_SESSION_PASSWORD=a97942f26e5241c093956203bfd906bd

NUXT_OAUTH_KEYCLOAK_CLIENT_ID="nuxt-server"
NUXT_OAUTH_KEYCLOAK_CLIENT_SECRET=""
NUXT_OAUTH_KEYCLOAK_SERVER_URL="http://localhost:8080"
NUXT_OAUTH_KEYCLOAK_REALM="nuxt-ssr-keycloak"